<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>QuickBite Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>
  <body>
    <script>
      var options = {
        key: "{{ order.key }}",
        amount: "{{ order.amount / 100 }}",
        currency: "{{ order.currency }}",
        order_id: "{{ order.id }}",
        name: "QuickBite SFIT",
        description: "Payment for Order #{{ order.id }}",
        image: "https://cscita.sfit.ac.in/images/engg.png",
        handler: function (response) {
          const queryParams = new URLSearchParams({
            order_id: "{{ order.id }}",
            payment_id: `${response.razorpay_payment_id}`,
            payment_signature: `${response.razorpay_signature}`
          });
          window.location.href = `http://localhost:5000/user/api/verify_payment?${queryParams}`
        },
        modal: {
          backdrop_close: true,
          confirm_close: true,
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.on("payment.failed", function (response) {
        alert("Payment Failed! Error: " + response.error.description);
      });
      rzp1.open();
    </script>
  </body>
</html>
